### DATA LAKE

### Practises

In [1]:
from pyspark.sql import SparkSession
import databricks.koalas as ks

import os
import configparser

WARNING:root:'ARROW_PRE_0_15_IPC_FORMAT' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=0.15 and pyspark<3.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [2]:
config = configparser.ConfigParser()

config.read('dl.cfg')
os.environ["AWS_ACCESS_KEY_ID"]=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ["AWS_SECRET_ACCESS_KEY"]=config['AWS']['AWS_SECRET_ACCESS_KEY']

# Create spark session with hadoop-aws package

In [3]:
spark = SparkSession.builder.config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0").getOrCreate()

# Load data from S3

In [6]:
df = ks.read_json("data/*.json")
df.dtypes

artist            object
auth              object
firstName         object
gender            object
itemInSession      int64
lastName          object
length           float64
level             object
location          object
method            object
page              object
registration     float64
sessionId          int64
song              object
status             int64
ts                 int64
userAgent         object
userId            object
dtype: object

In [7]:
df.to_spark().printSchema()
df.head()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

        artist       auth firstName gender  itemInSession lastName     length level                               location method      page  registration  sessionId             song  status             ts                                          userAgent userId
0     Harmonia  Logged In      Ryan      M              0    Smith  655.77751  free     San Jose-Sunnyvale-Santa Clara, CA    PUT  NextSong  1.541017e+12        583    Sehr kosmisch     200  1542241826796  "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...     26
1  The Prodigy  Logged In      Ryan      M              1    Smith  260.07465  free     San Jose-Sunnyvale-Santa Clara, CA    PUT  NextSong  1.541017e+12        583  The Big Gundown     200  1542242481796  "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...     26
2        Train  Logged In      Ryan      M              2    Smith  205.45261  free     San Jose-Sunnyvale-Santa Clara, CA    PUT  NextSong  1.541017e+12        583         Marry Me     200  1542242741796  "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...     26
3         None  Logged In     Wyatt      M              0    Scott        NaN  free              Eureka-Arcata-Fortuna, CA    GET      Home  1.540872e+12        563             None     200  1542247071796  Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....      9
4         None  Logged In    Austin      M              0  Rosales        NaN  free  New York-Newark-Jersey City, NY-NJ-PA    GET      Home  1.541060e+12        521             None     200  1542252577796  Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...     12

In [6]:
songs_table = (ks.sql('''
    SELECT 
    DISTINCT
    row_number()  over (ORDER BY artist_id,year,title) id,
    title,
    artist_id,
    year,
    duration
    FROM 
    {df}
    '''))
# songs_table.to_spark().withColumn("id1", monotonicallyIncreasingId())
songs_table.head()

   id                  title           artist_id  year   duration
0   1  Music is what we love  AR051KA1187B98B2FF     0  261.51138
1   2            Native Soul  AR0IAWL1187B9A96D0  2003  197.19791
2   3                  Intro  AR558FS1187FB45658  2003   75.67628
3   4          City Slickers  AR8IEZO1187B99055E  2008  149.86404
4   5            Living Hell  AREVWGE1187B9B890A     0  282.43546

## 'parquest' is a format like csv, json but it's more fast

In [1]:
(songs_table.to_spark().write.partitionBy('year','artist_id').parquet('songs/'))

NameError: name 'songs_table' is not defined