### DATA LAKE

### Practises

In [4]:
from pyspark.sql import SparkSession
import databricks.koalas as ks

import os
import configparser

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xa

ImportError: numpy.core.multiarray failed to import

In [4]:
config = configparser.ConfigParser()

config.read('dl.cfg')
os.environ["AWS_ACCESS_KEY_ID"]=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ["AWS_SECRET_ACCESS_KEY"]=config['AWS']['AWS_SECRET_ACCESS_KEY']

# Create spark session with hadoop-aws package

In [5]:
spark = SparkSession.builder.config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0").getOrCreate()

# Load data from S3

In [32]:
df = ks.read_json("data/song_data/A/B/C/*.json")
df.dtypes

artist_id            object
artist_latitude     float64
artist_location      object
artist_longitude    float64
artist_name          object
duration            float64
num_songs             int64
song_id              object
title                object
year                  int64
dtype: object

In [33]:
df.to_spark().printSchema()
df.head()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

            artist_id  artist_latitude           artist_location  artist_longitude        artist_name   duration  num_songs             song_id                                          title  year
0  ARNF6401187FB57032         40.79086  New York, NY [Manhattan]         -73.96644  Sophie B. Hawkins  305.16200          1  SONWXQJ12A8C134D94                  The Ballad Of Sleeping Beauty  1994
1  ARLTWXK1187FB5A3F8         32.74863            Fort Worth, TX         -97.32925        King Curtis  326.00771          1  SODREIN12A58A7F2E5  A Whiter Shade Of Pale (Live @ Fillmore West)     0
2  ARPFHN61187FB575F6         41.88415               Chicago, IL         -87.63241        Lupe Fiasco  279.97995          1  SOWQTQZ12A58A7B63E       Streets On Fire (Explicit Album Version)     0
3  AR0IAWL1187B9A96D0          8.41770                    Panama         -80.11278       Danilo Perez  197.19791          1  SONSKXP12A8C13A2C9                                    Native Soul  2003
4  ARWB3G61187FB49404              NaN            Hamilton, Ohio               NaN        Steve Morse  363.85914          1  SODAUVL12A8C13D184                                      Prognosis  2000

In [36]:
songs_table = (ks.sql('''
    SELECT 
    DISTINCT
    row_number()  over (ORDER BY artist_id,year,title) id,
    title,
    artist_id,
    year,
    duration
    FROM 
    {df}
    '''))
# songs_table.to_spark().withColumn("id1", monotonicallyIncreasingId())
songs_table.head()

NameError: name 'monotonicallyIncreasingId' is not defined

## 'parquest' is a format like csv, json but it's more fast